.m-decoration{
   .img{
       img{
           height: 2rem;
           width: 100%;
           margin-bottom: 0.1rem;
       }
   }
   .center{
       background-color: #FFFFFF;
       p{
           padding: 0.1rem 0;
           margin: 0 0.1rem;
           font-size: 0.14rem;
           font-weight: bold;
           @include border(0 0 0.01rem 0)
       }
       .yo-scroller{
            .scroller{
              @include flexbox();
              width: 8rem;
              div{
                  @include border(0.01rem 0.01rem 0.01rem 0.01rem);
                  margin: 0.1rem;
                img{
                  
                  @include flexbox();
                  @include flex-direction();
                  @align-items(center);
                  @include justify-content(center);
                  //@include transform(scale(1));
                  
                  width: 1.4rem;
                  height: 0.8rem;
                  margin: 0.1rem 0.2rem 0.1rem 0.1rem;
                  
                }
              }
              
            }
        }
   }
   .content{
       background-color: #FFFFFF;
       margin-top: 0.1rem;
       div{
           ul{
                @include flexbox();
                
               li{
                width: 33%;
                @include flexbox();
                @include flex-direction();
                @align-items(center);
                @include justify-content(center);
                padding: 0.05rem; 
               }
           }
       }
        ul{
            @include flexbox();
            margin: 0.2rem;
            .li{
                @include border(0.01rem 0.01rem 0.01rem 0.01rem);
                padding: 0.05rem;
            } 
            li{
                
                @include flexbox();
                @include flex-direction(column);
                @align-items();
                @include justify-content(flex-start);
               
                img{
                    width: 1rem;
                    height: 1rem;
                     
                    
                }
                i{
                    font-size: 0.12rem; 
                    margin: 0.1rem; 
                }
                b{
                    font-size: 0.14rem;
                    margin: 0.1rem;
                }
                p{
                    font-size: 0.12rem;
                    margin-left: 0.1rem;
                }
            }
        }
   } 
}
