@import "../fragment/yo-search";
.m-search {
  @include yo-search(
    $name: default,
    $padding: default,
    $bgcolor: default,
    $font-size: default,
    $input-height: default,
    $input-radius: default,
    $input-bgcolor: #fccd05,
    $input-color: #fff,
    $placeholder-color: #fff,
    $btn-bgcolor: default,
    $btn-color: default,
    $cancel-width: default,
    $cancel-color: default
  ){ }
  .input{
      text-align: center;
  }
  .activeList{
      background-color: #fff;
    .activeListP{
          margin-bottom: 0.03rem;
          height: 0.14rem;
          
          img{
              height: 100%;
              margin-left: 0.1rem;
              margin-right: 0.05rem;
          }
      }
      .activeListUl{
        height: 1rem;
        @include flexbox();
        li{
            height: 100%;
            @include flex();
            @include flexbox();
            @include align-items(center);
            @include justify-content(center);
            img{
                height: 60%;    
            }
            &:first-child img{
                height: 80%;
            }
            
        }
      
    }  
  }
  .imgTuKu{
      margin: 0.1rem 0rem;
      background: #FFFFFF;
      div{
          
          .ulTuKu{
          height: 0.5rem;
          
          @include flexbox();
          @include flex-direction();
          
          @include justify-content(space-between);         
        li{ 
          @include flexbox();
          .ulImg{
                width: 0.5rem;
                height: 0.5rem;
          }
          p{
            @include flexbox();
            @include flex-direction(column);
            //@include align-items(center);
            //@include justify-content(center);
            margin: 0 0 0 0.1rem;
            i{
               font-size: 0.14rem;
               font-weight: bold; 
            }
            b{
              font-size: 0.12rem;
              font-weight: normal;
              color: #acacac; 
            }  
          } 
          .ulImg2{
              width: 0.2rem;
              height: 0.2rem;
              margin: 0.15rem 0.1rem;
              
          }  
        } 
      }
      .sanImg{
          @include flexbox()
          height: 2rem;
          .bigImg{
            width: 70%;
            height: 100%;
            img{
                height: 100%;
                width: 100%;
            } 
          }
          .smallImg{
              width: 30%;
              img{
                  @include flexbox();
                  @include flex-direction(column);
                  @include align-items(center);
                  @include justify-content(center);  
                  width: 100%;
                  height: 50%;
              }
          }
      }
      p{
          margin:0.1rem 0 0.1rem 0.1rem;
          
      }
  }
      }
      

}
